.event{
    background: #fff;
    margin: 20px 0;
    padding: 20px;
}

.event-container{
    padding: 0;
    margin-top: 40px;
}

#mapid {
	width: 100%;
	height: 700px;
	float: left;
	z-index: 1;
}


#map{
    padding: 0;
}
.clear{
    clear: both;
}

#info{
	display: none;
	float:right;
	background-color: #313131;
	height: 700px;
    color: #e3e3e3;
    border-left: 2px solid #d15439;
	width: 30%;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 2;
	position: relative;
	padding-left: 1%;
	padding-right: 1%;
	-webkit-box-shadow: -18px 3px 23px -13px rgba(37,38,46,0.35);
-moz-box-shadow: -18px 3px 23px -13px rgba(37,38,46,0.35);
box-shadow: -18px 3px 23px -13px rgba(37,38,46,0.35);
}

#dataImg{
	max-width: 100%;
	margin: 20px 0;
}

#info div{
	margin-bottom: 10px;
	padding: 20px;
}

#info div:hover{
	box-shadow: 1px black;
}


.navigation-container{
    max-width: 2556px;
    width: 100%;
}

#hornav .no-padding {
    padding-bottom: 0 !important;
}
#hornav .navigation-container {
    background-color: #313131;
    box-shadow: 0 -4px 0 #d15439 inset, 0 0 20px rgba(0, 0, 0, 0.1);
    min-height: 60px;
    display: block;
}
